extends layout

block content
  h1= title
    br
    br
    a(href='register') Register
    br
    br
    a(class='button' href='login') Login
    br
    br
    a(class='button' href='social') Social Login
